<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.MqGoodsMapper">

	
	<!-- 查询商品信息时判断商品是否存在 -->
	<select id="findGoodsByUniacid" resultType="com.ssm.model.MqGoodsDetail">
		SELECT
			id,
			uniacid,
			status,
			title,
			thumb,
			unit,
			content,
			goodssn,
			productsn,
			productprice,
			marketprice,
			costprice,
			total
		FROM
			ims_ewei_shop_goods
		WHERE
			uniacid = #{0}
	</select>
	
	
</mapper>